
body, html{
    line-height: 1.8;
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

 li a {
    display: block;
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  }

  li a:hover {
    background-color: #555;
    color: white;
  }

  .active {
    background-color: #555;
  }

  li {
      display: inline-block;
      text-align: right;
      position: relative;
      
  }

  a {
    display: block;
    padding: 8px;
  }

.header, .slider, .sidebar, .footer{
    padding: 32px 40px;
    color:white;
    box-sizing: border-box;
}

.header{
    background-color:#2b2024;
    text-align: right;
    margin-bottom: 35px;
    position:fixed;
    z-index:1000;
    width:100%;
    margin-left: 3px;
    top:0px;
}

.logo{
    position:fixed;
    z-index:2000;
    top:0px;
}

.slider{
    background-color:grey;
    position: relative;
    bottom: 50px;
}

.footer{
    background-color: #2b2024;
    color: white;
}

.secondSidebar{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
    
}

.block1{
    background-color: rgb(173, 173, 173);
    color: white;
    position: relative;
    flex-basis: 30%;
    border-radius: 10px;
    bottom: 25px;
    
}

.block2{
    background-color:rgb(94, 94, 92);
    color: white;
    position: relative;
    flex-basis: 30%;
    border-radius: 10px;
    bottom: 25px;
     
}

.block3{
    background-color:rgb(29, 29, 28);
    color: white;
    position: relative;
    flex-basis: 30%;
    border-radius: 10px; 
    bottom: 25px; 
}

.bienvenue{
    color: rgb(255, 166, 0);
    position: fixed;
    margin-left:700px;
    top:20px;
    z-index: 1000;
}

